body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* 2015-3-4 09:28:52 Ben */
input[type="text"] {
  width: 300px;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 5px;
}

th {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #e9e9e9;
}
